<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RB_BT_ASAM_Enterprise_Logging_Config" value="D:\RB-ASAM-Interface\Import\910 - BTConfigurations\RB.ROCustomerInterface.Logger.config"/>

    <add key="RO-ASAM-AUDI_DEV_BT_RO_INTERFACE_CONFIG" value="D:\RB-ASAM-Interface_DEV\Import\910 - BTConfigurations\RO-ASAM-AUDI_RO_Interface_Config.xml"/>
    <add key="RO-ASAM-AUDI_DEV_BT_RO_INTERFACE_LOG_CONFIG" value="D:\RB-ASAM-Interface_DEV\Import\910 - BTConfigurations\RO-ASAM-AUDI_RB.ROCustomerInterface.Logger.config"/>
    <add key="RO-ASAM-BMW_DEV_BT_RO_INTERFACE_CONFIG" value="D:\RB-ASAM-Interface_DEV\Import\910 - BTConfigurations\RO-ASAM-BMW_RO_Interface_Config.xml"/>
    <add key="RO-ASAM-BMW_DEV_BT_RO_INTERFACE_LOG_CONFIG" value="D:\RB-ASAM-Interface_DEV\Import\910 - BTConfigurations\RO-ASAM-BMW_RB.ROCustomerInterface.Logger.config"/>
    
    <add key="RO-ASAM-AUDI_BT_RO_INTERFACE_CONFIG" value="D:\RB-ASAM-Interface\Import\910 - BTConfigurations\RO-ASAM-AUDI_RO_Interface_Config.xml"/>
    <add key="RO-ASAM-AUDI_BT_RO_INTERFACE_LOG_CONFIG" value="D:\RB-ASAM-Interface\Import\910 - BTConfigurations\RB.ROCustomerInterface.Logger.config"/>
    <add key="RO-ASAM-BMW_BT_RO_INTERFACE_CONFIG" value="D:\RB-ASAM-Interface\Import\910 - BTConfigurations\RO-ASAM-BMW_RO_Interface_Config.xml"/>
    <add key="RO-ASAM-BMW_BT_RO_INTERFACE_LOG_CONFIG" value="D:\RB-ASAM-Interface\Import\910 - BTConfigurations\RO-ASAM-BMW_RB.ROCustomerInterface.Logger.config"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
